
<div id="footer">
    <span onclick="window.open(
        'https://www.linkedin.com/in/merudra/',
        '_blank' 
      );">    a rudra pratap singh production &copy; 2022
    </span>
</div>
</div>
</center>


</body>
</html>