<%- include('../partials/upper.ejs') %>

<style>
    form{
        background-color: salmon;
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        border-style: groove;
    }
    input{
        height: 40px;
        padding: 5px;
    }
</style>



<br>
<center>
    <form action="/arena" method="GET">
        <h2>Create/Join Room</h2><br>
        <hr><br>    
        <input type="text" name="username" placeholder="username..">
        <br>
        <input type="text" name="room" placeholder="room..">
        <br>
        <input class="button" value="Join" type="submit">
    </form>
</center>



<%- include('../partials/lower.ejs') %>