<%- include('../partials/upper.ejs') %>

<style>
    #roomContainer{
        background:wheat;
        width: 100%;
        height: 100%;
        display: flex;

    }
    #leftPanel{
        width: 30%;
        border-right: 1px solid black;
    }
    fieldset{
        width: 90%;
    }
    #testPara{
        width: 90%;
        min-height: 100px;
        border: 1px solid black;
        height: fit-content;
        text-align: left;
        user-select: none;
        font-size: larger;
        background-color: rgb(211, 169, 169);
]    }
    #rightPanel{
        margin-top: 10px;
        display: flex;
        align-items: center;
        width: 70%;
        flex-direction: column;
    }
    #rightPanel>div{
        margin-bottom: 10px;

    }
    progress{
        width: 300px;
        height: 40px;
        margin-left: auto;
    }
    #progress>div{
        display: flex;
        margin: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #progress>div>span{
        width: 30%;
        font-weight: 900;
        font-size: 20px;
    }
    #liveTyping{
        margin-bottom: 10px;
        text-align: left;
        border: 1px solid black;
        height: fit-content;
        word-wrap: break-word;
        word-break: break-all;
    }
    #myTyping{
        width: 90%;
    }
    textarea{
        font-size: 20px;
    }
</style>

<div id="roomContainer">

    <div id="leftPanel">
        <div id="roomName"></div>
        <hr>
        <br>
      
        <div id="allUsers" style="word-break: break-all;"></div>
        <div id="scores" style="padding: 5px;border: 1px solid black;margin-top: 50px;display: flex;justify-content: center;flex-direction: column;width: 90%;">
            <div style="display: flex;">My victories <input  style="width:100px ;margin-left: auto;" disabled type="number" id="myWins"></div>
            <hr>
            <div style="display: flex;">Opponent victories <input style="width:100px ;margin-left: auto;" disabled type="number" id="opponentWins">
            </div>
        </div>
        
    </div>
    <div id="rightPanel">
        <div id="winOrLose"></div>
        <div id="progress">
            <div>
                <span>You</span> <progress id="myProgressBar" value="0" min="0" max="100"></progress>
            </div>
            <div>
                <span>Opponent</span> <progress id="opponentProgressBar" value="0" min="0" max="100"></progress>
            </div>
        </div>

        <div id="testPara"></div>

        <div id="myTyping">
             <div id="liveTyping"></div>
            <textarea disabled  placeholder="type here.." name="" id="typingTextarea" cols="60" rows="6" style="resize: vertical;padding:5px;"></textarea>
        </div>
        <div>
            <button  onclick="startTest10()" style="width: 100px;">10 words</button>
            <button  onclick="startTest30()" style="width: 100px;">30 words</button>
            <button  onclick="startTest50()" style="width: 100px;">50 words</button>
            <button  onclick="startTest70()" style="width: 100px;">70 words</button>

        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const {username,room} = Qs.parse(location.search,{ignoreQueryPrefix:true})
    // alert(username+" "+room)

    let typingTextarea = document.getElementById('typingTextarea')
    let liveTyping = document.getElementById('liveTyping')
    // let startBtn = document.getElementById('startBtn')
    let testPara = document.getElementById('testPara')
    let myProgressBar = document.getElementById('myProgressBar')
    let opponentProgressBar = document.getElementById('opponentProgressBar')

    let myWins = document.getElementById('myWins')
    let opponentWins = document.getElementById('opponentWins') 
    myWins.value=0
    opponentWins.value=0

    let myWinsCount=0
    let opponentWinsCount=0

    const socket =  io();

    socket.emit('join',{username,room},(error)=>{
        if(error){
            alert(error.error)
            location.href='/'
        }
    })

    socket.on('updateRoomInfo',(roomInfo,userInRoom)=>{
       
        document.getElementById('roomName').innerHTML="<h1>"+roomInfo.room+"</h1>"
        if(userInRoom.length==1 && roomInfo.id==socket.id)
        document.getElementById('allUsers').innerHTML="<br><fieldset style='background:yellow;'><h3>"+userInRoom[0].username+"</h3></fieldset>"
        else  {
            if(userInRoom[0].id==socket.id)
            document.getElementById('allUsers').innerHTML="<br><fieldset style='background:yellow;'><h3>"+userInRoom[0].username+"</h3></fieldset><br><fieldset><h3>"+userInRoom[1].username+"</h3></fieldset>"
            else document.getElementById('allUsers').innerHTML="<br><fieldset ><h3>"+userInRoom[0].username+"</h3></fieldset><br><fieldset style='background:yellow;'><h3>"+userInRoom[1].username+"</h3></fieldset>"
        }
    })

    function startTest10(){
        socket.emit('startTest',10)
    }
    function startTest30(){
        socket.emit('startTest',30)
    }
    function startTest50(){
        socket.emit('startTest',50)
    }
    function startTest70(){
        socket.emit('startTest',70)
    }


    typingTextarea.addEventListener('input',()=>{

        let q=""
        let typingSoFar = typingTextarea.value.toString()
        let testParaString = testPara.textContent
        let mn=typingSoFar.length 
        if(testParaString.length<mn)
            mn=testParaString.length

        for(let i=0;i<testParaString.length;++i){

            if( i<typingSoFar.length && typingSoFar[i]!=testParaString[i]){
                q=q+"<span style='background:red;color:white;font-weight:900;'>"+testParaString[i]+"</span>"

            }
            else if(i<typingSoFar.length)q+="<span style='background:yellow;color:black;'>"+testParaString[i]+"</span>";
            
            else q+="<span style='background:tranparent;color:black;'>"+testParaString[i]+"</span>";
            
        }
        
        testPara.innerHTML=q
        socket.emit('updateLiveTyping',typingSoFar)

        
    })

   
    socket.on('clear',async()=>{

        myProgressBar.value="0"
        opponentProgressBar.value="0"
        testPara.textContent=""
        liveTyping.textContent=""
        typingTextarea.value=""
        document.getElementById("winOrLose").innerHTML=""
        typingTextarea.disabled=false
        typingTextarea.focus()
    })

    socket.on('updateTestPara',(msg)=>{
       
        testPara.innerHTML=msg
    })

    socket.on('updateOpponentProgress',(opponentScore)=>{
        console.log(opponentScore)
        opponentProgressBar.value=opponentScore
    })

    socket.on('updateMyProgress',(myScore)=>{
        myProgressBar.value=myScore
    })

    socket.on('lose',()=>{
        opponentWinsCount++
        opponentWins.value=opponentWinsCount
        typingTextarea.disabled=true
        document.getElementById('winOrLose').innerHTML="<h1>You lose :(</h1>"
    })

    socket.on('win',()=>{
        myWinsCount++
        myWins.value=myWinsCount
        typingTextarea.disabled=true
        document.getElementById('winOrLose').innerHTML="<h1>You win :)</h1>"
    })

</script>
<%- include('../partials/lower.ejs') %>